html,body,#root{
    height: 100%;
}



@media screen and (max-width : 320px)
{
  h1
  {
    font-size: 2em;
  }
}
@media screen and (max-width : 1204px)
{
  h1
  {
    font-size:3em;
  }
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
}

.leaflet-container {
    width: 100%;
    height: 80vh;
  }

.appcont{
    background-color: #b06b37;
    height: 100%;
}

.headcont{
    display: flex;
}

.spacer{
    flex: 1 1;
}

.headtitle{
    flex-grow: 2;
    text-align: center;
}
.headside{
    flex-grow: 1;
}

.navcont{
display: flex;
justify-content: space-evenly;
}

.bodycont{
    display:flex;
    align-items: stretch;
    height: 80%;
    
}

.bodymain{
  flex-grow: 3;
}

.bodyside{
  flex-grow: 1;
}

.nav-link{
    margin-left: 15ch;
}